body {
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.formApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 10px solid #023031;
  width: 50%;
}

.cardCreate {
  display: flex;
  flex-wrap: wrap;
}

.cardApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #023031;
  height: 100vh;
  width: 50%;
}

.cardApp h1 {
  padding-bottom: 20px;
}

.cardBody {
  display: flex;
}

.card {
  border-radius: 10px;
  background-color: white;
  margin-right: 20px;
}

.card img {
  height: 250px;
  width: 250px;
}

.attr {
  position: static;
}

.card p {
  font-size: 12px;
  width: 250px;
}

.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #023031;
  height: 100vh;
  width: 100%;
}